{% extends "base.html.twig" %}

{% block meta %}

{% endblock %}

{% block content %}
	<header>
		<h1>Homepage</h1>
	</header>

	<ol>
		{% for post in posts %}
			<li>
				<article>
					<a href="http://localhost:8888/cultiz/{{ post.post_name }}">
						{{ post.post_title|raw }}
					</a>
				</article>
			</li>
		{% endfor %}
	</ol>
{% endblock %}